.title-1{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: initial;
    color: crimson;
    margin-left: 30px;
}
.item-1{
    --inner-border-width:0px;
    margin-top: 10px;
}
.input-1{
    color:purple;
    //background-color: aquamarine
    font-size: 15px;
}
.card-1{
    height: 400px;
}
.tool{
    width: 600px;
}
.card-2{
    height: 100px;
    width:300px;
}
.label-1{
    font-size: 14px;
    color: darkred;
    display:block;
    margin-left: 10px;
    margin-top: 5px;
}

.button-1{
    --color:black;
    margin-left: 5px;
}