.label-1{
    font-size: 30px;
    color:cadetblue;
    margin-left: 55px;
}
ion-item{
    --inner-border-width:0;
}
.card-1{
    height: 100px;
}
.label-3{
    display:block;
    margin-left: 30px;

color: darkblue;
}
.label-2{
    color: orchid;
}